{{ define "main" }}
<article class="post">
    <h1 style="text-align: center">{{ .Title }}</h1>

    <p class="post-date">{{ .Date.Format "January 2, 2006" }}</p>

    <p class="reading-time">
        <b>Reading time:</b>
        {{ if eq .ReadingTime 1 }} 1 minute {{ else }} {{ .ReadingTime }}
        minutes {{ end }}
    </p>

    {{ with .GetTerms "categories" }}
    <p class="categories">
        <b>Categories:</b>
        {{ range . }}
        <a href="{{ .RelPermalink }}" class="category-link">{{ .LinkTitle }}</a>
        {{ if ne (add 1 .Ordinal) (len $.GetTerms "categories") }} | {{ end }}
        {{ end }}
    </p>
    {{ end }} {{ with .GetTerms "tags" }}
    <p class="tags">
        <b>Tags:</b>
        {{ range . }}
        <a href="{{ .RelPermalink }}" class="tag-link">{{ .LinkTitle }}</a>
        {{ if ne (add 1 .Ordinal) (len $.GetTerms "tags") }} | {{ end }} {{ end
        }}
    </p>
    {{ end }}

    <div class="post-content">{{ .Content }}</div>

    <hr class="endofpost" />

    <div class="post-footer">
        <!-- <p>
            Thoughts or questions about this article?<br />
            Feel free to drop me a {{ range .Site.Params.social }} {{ if eq
            .name "LinkedIn" }}
            <a href="{{ .url }}" target="_blank">message on LinkedIn</a>
            {{ end }} {{ end }} or send me an email!
        </p> -->
        <p>
            If you like my articles, please consider subscribing to my
            <a href="/posts/index.xml">RSS feed</a>.
        </p>
    </div>
</article>
{{ end }}
