<footer class="site-footer">
    <p class="ai-disclaimer">
        All content on this website is handwritten.<br />
        This website does not contain AI-generated content.
    </p>

    {{/*
    <p class="copyright">
        © {{ now.Format "2006" }} {{ .Site.Params.author }}
    </p>
    */}}

    <p class="site-info">
        This website is built in a way the internet was meant to be.<br />
        This means a simple, content-first website, sharing thoughts and
        knowledge for free.<br />
    </p>

    <p class="license">
        Posts:
        <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA</a> |
        Source code:
        <a href="https://www.gnu.org/licenses/agpl-3.0.en.html">AGPL-3.0</a>
    </p>
</footer>
