//
// Colors
//
$color-bg: #000000;

/* /*brownish - replace the above to #121212; */

$color-text: #ffffff;
$color-heading: #ffffff;
$color-text-muted: #bdbdbd;

$color-link: #64b5f6;
$color-link-hover: #90caf9;

$color-code-text: #ffffff;
$color-code-bg: #2c2c2c;

$color-quote: #bdbdbd;
$color-quote-border: #64b5f6;

$color-border: #333;

//
// Widths
//
$container-max-width: 1000px;
$blogpost-width: 800px;

//
// Responsive Breakpoints
//
$breakpoint-xs: 400px;
$breakpoint-sm: 600px;
$breakpoint-md: 800px;
$breakpoint-lg: 1000px;
$breakpoint-xl: 1200px;
